.melofi__nowPlaying-container {
    position: absolute;
    bottom: 35px;
    left: 35px;
}

.melofi__nowPlaying-header {
    color: white;
    font-size: 21px;
    font-family: var(--font-primary);
    font-weight: 300;
}

.melofi__nowPlaying-song {
    color: white;
    font-size: 16px;
    font-family: var(--font-primary);
    font-weight: 300;
}

.melofi__nowPlaying-provider { 
    color: white;
    font-family: var(--font-primary);
    font-size: 16px; 
    opacity: 50%;
    font-weight: 300;

}

.melofi__nowPlaying-provider:hover { 
    opacity: 100%;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .melofi__nowPlaying-container {
        bottom: 25px;
        left: 25px;
    }

    .melofi__nowPlaying-header {
        font-size: 18px;
    }

    .melofi__nowPlaying-song, .melofi__nowPlaying-provider {
        font-size: 12px;
    }
  
}
