.melofi__account {
    width: 600px;
    height: 450px;
    background-color: var(--color-primary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    overflow: hidden;
    display: flex;
    font-family: var(--font-primary);
    color: white;
    padding-left: 0;
    padding-right: 0;
}

.melofi__account_header {
    font-size: 32px;
}

.melofi__account_content {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
}

.melofi__account_sectionTitle {
    padding: 5px 15px;
    cursor: pointer;

}

.melofi__account_sectionTitle:hover {
    opacity: .75;

}

.melofi__account_sectionTitle_selected {
    background-color: var(--color-effect-opacity);
    color: var(--color-primary)
}

.melofi__account_content_subsection {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.melofi__account_subsection_button {
   color: var(--color-effect-opacity);
    cursor: pointer;
    text-align: right;
}

.melofi__account_subtitle {
    font-size: 18px;
    margin-bottom: 15px;
}

.melofi__account_inputContainer {
    display: flex;
    column-gap: 15px;
    color: white;
    font-size: 18px;
    margin-bottom: 15px;
}

.melofi__account_inputContainer p {
    width: 40%;
    color: var(--color-secondary)
}

.melofi__account_inputContainer input, .melofi__account_reauthenticateModal input {
    border: none;
    outline: none;
    background-color: var(--color-secondary-opacity);
    color: white;
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 10px;
    caret-color: var(--color-effect-opacity)
}

.melofi__account_inputContainer input::placeholder, .melofi__account_reauthenticateModal input::placeholder {
    color: var(--color-secondary)
}

.melofi__account_notification {
    background-color: #4BB543;
    color: var(--color-primary);
    outline: 1px solid white;
    text-align: center;
    padding: 5px 0px;
    margin-top: 50px;
}

.melofi__account_reauthenticateModal {
    width: 200px;
    height: 150px;
    background-color: rgb(35,35,35);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-around;
}

.melofi__insights_statContainer {
    margin-bottom: 15px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.melofi__insights_statContainer span {
    color: var(--color-effect-opacity);
}

.melofi__insights_badges {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 5%;
}

.melofi__insights_badgeContainer {
    font-family: var(--font-primary);
    color: white;
    width: 110px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    font-size: 16px;
    cursor: pointer;
}

.melofi__insights_badgeContainer p {
    width: 100%;
    line-height:1.25;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

