.melofi__todolist {
    width: 310px;
    height: 310px;
}

.melofi__todolist:hover {
    background-color: var(--color-primary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
}

.melofi__todolist_handle { 
    width: 100%; 
    height: 20px; 
    position: absolute; 
    top: 0; 
    left: 0; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    cursor: all-scroll;
  }

.melofi__todlist_header {
    display: flex;
    justify-content: space-between;
 }

 .melofi__todlist_header:hover {
    cursor: all-scroll;
 }

.melofi__todolist_header_title {
    font-size: 21px;
    font-family: var(--font-primary);
    color: white;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.melofi__todolist_input, .melofi__todolist_input_noFade{
    display: flex;
    column-gap: 5px;
    align-items: center;
    margin-top: 14px;
    padding: 5px 0px;
    margin-bottom: 15px;
    justify-content: space-between;
}

.melofi__todolist_input_noFade input, .melofi__todolist_input input  {
    background-color: transparent;
    border: none;
    font-family: var(--font-primary);
    width: 100%;
    border-bottom: 1px solid var(--color-secondary);
    caret-color: white;
    color: var(--color-secondary);
    font-size: 18px;
    user-select: text;
}

.melofi__todolist:hover .melofi__todolist_input input
{
    border-bottom: 1px solid var(--color-secondary);
}


.melofi__todolist_input input::placeholder {
    font-family: var(--font-primary);
    font-size: 18px;
    color: white
}

.melofi__todolist_input_noFade input::placeholder {
    font-family: var(--font-primary);
    font-size: 18px;
    color: var(--color-secondary)
}

.melofi__todolist:hover .melofi__todolist_input input::placeholder
{
    color: var(--color-secondary)
}

.melofi__todolist_input input:focus, .melofi__todolist_input_noFade input:focus {
    outline: none;
}


.melofi__todolist_content {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.melofi__todolist:hover .melofi__todolistItem_delete,
.melofi__todolist:hover .melofi__todolist_exit
{
   opacity: 100%;
}

.melofi__todolist_exit{
    opacity: 0;
}