.melofi__todolistItem {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    width: 90%;
    padding-left: 5px;
}

.melofi__todolistItem_circle {
    border-radius: 50%;
    outline: 1px solid var(--color-secondary);
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-top: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

   
}

.melofi__todolistItem_title {
    font-size: 18px;
    font-family: var(--font-primary);
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    flex: 1;
}

.melofi__todolistItem_delete {
    opacity: 0%;
}