.melofi__calendar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 370px;
    height: 370px;
    padding: 20px 24px;
    border-radius: 10px;
    cursor: all-scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.melofi__calendar:hover {
    background-color: var(--color-primary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
}

.melofi__calendar_header {
    display: flex;
    justify-content: space-between;
 }

.melofi__calendar-date {
    font-size: 32px;
    font-family: var(--font-poppins);
    color: white;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.melofi__calendar-login-view {
    display: flex;
    flex: 1;
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.melofi__calendar-items {
    display: flex;
    flex: 1;
    flex-direction: column;
    row-gap: 24px;
    margin-top: 14px;
}

.melofi__calendar-no-events {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.melofi__calendar-no-events p {
    font-size: 16px;
    font-family: var(--font-poppins);
    color: white;
}

.melofi__calendar-signin-view {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
}

.melofi__calendar-signin-view p {
    font-size: 21px;
    font-family: var(--font-poppins);
    color: white;
    text-align: center;
}

.melofi__calendar-google-button{
    display: flex;
    justify-content: space-evenly;
    outline: 1px solid var(--color-secondary);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    width: 90%;
}

.melofi__calendar-google-button:hover {
    background-color: rgba(254, 165, 57, 0.88);
}

.melofi__calendar-google-button p {
    font-size: 21px;
    font-family: var(--font-poppins);
    color: white;
}

.melofi__calendar-disconnect-button {
    text-align: center;
    font-family: var(--font-poppins);
    color: var(--color-secondary);
    cursor: pointer;
    opacity: 0;
}

.melofi__calendar:hover .melofi__calendar-disconnect-button,
.melofi__calendar:hover .melofi__calendar-exit-button
{
   opacity: 100%;
}

.melofi__calendar-exit-button {
    opacity: 0;
}
