.melofi__toolsMenu-container {
    position: absolute;
    background-color: var(--color-primary);
    top: 45px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 40px;
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(10px);
    display: flex;
    column-gap: 10px;
    padding: 0px 10px;
    animation: scale-up 0.2s;
    animation: expandToolbar 0.2s;
    justify-content: space-around;
}

.melofi__toolsMenu-container-items{
    display: flex;
    column-gap: 10px;
    padding: 5px 10px;
    align-items: center;
    border-radius: 10px;

}

.melofi__toolsMenu-container-items:hover{
    background-color: var(--color-secondary-opacity);
    animation: scale-up-tool-menu-items 0.2s forwards;
}

 .melofi__toolsMenu_new {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: var(--color-effect-opacity);
    width: 15px;
    height: 15px;
    border-radius: 100%;
  }

.melofi__toolsMenu-container-items p{
    font-family: var(--font-primary);
    color: white;
    font-size: 16px;
    font-weight: 300;
    width: 100%;

}

@keyframes scale-up {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}

@keyframes scale-up-tool-menu-items {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.15);
              transform: scale(1.15);
    }
}

@keyframes expandToolbar {
    0% {
        width: 0px;
    }
    100% {
        width: 200px;
    }
}
