.melofi__clock-container {
    display: flex;
    background-color: var(--color-primary);
    width: 108px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.melofi__clock-container p {
    color: white;
    font-family: var(--font-family);
}