.melofi__mixer-button {
    display: flex;
    width: 33px;
    height: 33px;
    background-color: var(--color-primary);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.melofi__mixer-modal {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    background-color: var(--color-primary);
    width: 378px;
    height: 390px;
    padding: 20px 24px;
    border-radius: 10px;
}

.melofi__mixer_header {
    display: flex;
    justify-content: space-between;
 }

.melofi__mixer-title {
    color: var(--color-secondary-white);
    font-family: var(--font-family);
    font-size: 32px;
    margin-bottom: 10px;
}

.melofi__mixer_volume-title {
    color: var(--color-secondary-white);
    font-family: var(--font-family);
    font-size: 21px;
}

.melofi__mixer_reset-button {
    color: var(--color-secondary);
    font-family: var(--font-family);
    font-size: 21px;
    text-align: center;
    margin-top: 35px;
    cursor: pointer;
}


.scale-up-center {
    animation: scale-up-center 0.4s;
}
.scale-down-center {
    animation: scale-down-center 0.4s;
}


@keyframes scale-up-center {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale-down-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}


