.App {
  position: relative;
  height:100vh;
}

.App nav {
  display: flex;
  padding: 0 28px 0;
  flex-direction: row;

}

.melofi__background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.melofi__logo img {
  width: 122px;
  height: 122px;
  animation: logo-spin 5s linear infinite;
}

.melofi__rightSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  column-gap: 28px;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



