  @import url('https://fonts.googleapis.com/css2?family=Cardo&family=Lobster+Two:wght@400;700&family=Patrick+Hand&family=Poppins:wght@300;400;500;700&family=Signika:wght@300;400;500;700&display=swap');

  :root {
  --font-poppins: "Poppins", Inter;
  --font-Signika: "Signika", Inter;
  --font-Signika: "Patrick Hand", Inter;
  --font-Signika: "Lobster Two", Inter;
  --font-Cardo: "Cardo", Inter;
  
  --color-primary: rgb(35,35,35,88%);
  --color-secondary: #7B777A;
  --color-secondary-opacity: rgb(112,108,111, 30%);
  --color-effect : #FEA539;
  --color-effect-opacity : rgba(254, 165, 57, 0.88);
  --color-secondary-white: rgb(255,255,255,89%)
}

html,
body {
  margin: 0px;
  height: 100%;
}

p {
  margin: 0px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

a {
  color: inherit; 
  text-decoration: inherit; 
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

img {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}


