@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Cardo&family=Lobster+Two:wght@400;700&family=Patrick+Hand&family=Poppins:wght@300;400;500;700&family=Signika:wght@300;400;500;700&display=swap');
  :root {
  --font-primary: "Poppins", sans-serif;
  --font-signika: "Signika", sans-serif;
  --font-patrick-hand: "Patrick Hand", sans-serif;
  --font-lobster-two: "Lobster Two", sans-serif;
  --font-cardo: "Cardo", sans-serif;
  --font-bruno-ace: "Bruno Ace", sans-serif;
  
  --color-primary: rgb(35,35,35,88%);
  --color-secondary: #7B777A;
  --color-secondary-opacity: rgb(112,108,111, 30%);
  --color-effect : #FEA539;
  --color-effect-opacity : rgba(254, 165, 57, 0.88);
  --color-secondary-white: rgb(255,255,255,89%);
 
}

html,
body {
  margin: 0px;
  height: 100%;
}

p , h1{
  margin: 0px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

a {
  color: inherit; 
  text-decoration: inherit; 
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

img {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

.--widget-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  z-index: 9;
  padding: 20px 24px;
}

.--nav-button {
  display: flex;
  width: 33px;
  height: 33px;
  background-color: var(--color-primary);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


