.melofi__mixerModal {
    overflow: hidden;
    background-color: var(--color-primary);
    width: 380px;
    height: 600px;
    z-index: 10;
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* overflow: hidden; */
    /* overflow: scroll; */
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.melofi__mixer-modal-handle { 
  width: 100%; 
  height: 20px; 
  position: absolute; 
  top: 0; 
  left: 0; 
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
  cursor: all-scroll;
}

.melofi__mixer_header {
    display: flex;
    justify-content: space-between;
    cursor: all-scroll;
}

.melofi__mixer-title {
    color: var(--color-secondary-white);
    font-family: var(--font-primary);
    font-size: 21px;
}

.melofi__mixer_playlist_container {
    font-family: var(--font-primary);
    position: relative;
    margin-bottom: 10px;
}

.melofi__mixer_premium_banner{
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    font-family: var(--font-primary);
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    z-index: 10;
    row-gap: 10px;
}

.melofi__premium_button {
    outline: 1px solid var(--color-secondary);
    border-radius: 10px;
    padding: 2px 5px;
    cursor: pointer;
    background-color: var(--color-secondary);
    display: flex;
    column-gap: 5px;
    opacity: 0%;
}

.melofi__mixer_premium_banner p {
    opacity: 0%;
}

.melofi__mixer_premium_banner:hover + .melofi__mixer_playlist_container {
    opacity: 0.5;
    filter: blur(2px);
    transition: filter 300ms ease 0s;
}

.melofi__premium_button:hover {
    background-color: var(--color-effect-opacity);
}

.melofi__mixer_premium_banner:hover .melofi__premium_button, .melofi__mixer_premium_banner:hover  p {
    opacity: 100%;
    transition: opacity 500ms ease 0s;
}

.melofi__mixer_playlist_options_container {
    display: flex;
    padding: 10px 0px;
    justify-content: space-around;
}


.melofi__mixer_playlist_option {
    display: flex;
    flex-direction: column;
    width: 75px;
    font-size: 14px;
    color: var(--color-secondary);
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
}

.melofi__mixer_source_container {
    display: flex;
    justify-content: space-around;
    column-gap: 15px;
    padding: 5px;
}

.melofi__mixer_content {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 95%;
    margin-top: 10px;
    padding-right: 22px;
    padding-left: 22px;
}

.melofi__mixer_source {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--color-secondary-opacity);
    border-radius: 10px;
    width: 50%;
    cursor: pointer;
    padding: 5px;
    justify-content: center;
}

.melofi__mixer_source_text {
    font-family: var(--font-primary);
    color: white;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 300px;
  }

.melofi__mixer_source_spotify_info { 
    position: absolute; 
    top: 5px; 
    right: 5px;
    opacity: 0%; 
}

#spotify_source:hover .melofi__mixer_source_spotify_info {
    opacity: 100%;
}

.melofi__mixer_source_spotify_playlist_input {
    width: 100%;
    background-color: var(--color-secondary-opacity);
    border: none;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 14px;
    padding: 5px 10px;
    caret-color: white;
    color: white;
}

.melofi__mixer_source_spotify_playlist_input::placeholder {
    color: var(--color-secondary);
}

.melofi__mixer_source_spotify_playlist_input_button {
    font-family: var(--font-primary);
    background-color: var(--color-secondary-opacity) ;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: var(--color-secondary);
    padding: 2.5px 10px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-left: 1px solid var(--color-primary);
}

.melofi__mixer_source_spotify_playlist_input_button:hover {
    background-color: var(--color-secondary);
    color: white;
}

.melofi__mixer_source_spotify_widget {
    margin-top: 10px;
    height: 152px;
    width: 100%;
    border: 0px;
    border-radius: 10px;
  }

.melofi__mixer_section_title {
    color: var(--color-secondary-white);
    font-family: var(--font-primary);
    font-size: 18px;
}

.melofi__mixer_reset-button {
    color: var(--color-secondary);
    font-family: var(--font-primary);
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
}


  