.melofi__achievementModal {
    width: 300px;
    height: 125px;
    background-color: rgb(35,35,35);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    display: flex;
    font-size: 18px;
}

.melofi__achievementModal p:first-child {
    margin-bottom: 5px;
}

.melofi__achievementModal p:last-child{
    font-size: 16px;
    margin-top: 5px;
}