.melofi__timer {
    width: 575px;
    height: 330px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    background-color: var(--color-primary);
}

.melofi__timer_handle { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 40px; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    cursor: all-scroll;
}

.melofi__timer_header { 
    width: 100%; 
    display: flex;
    justify-content: space-between
}

.melofi__timer_content {
    display: flex;
    height: 100%;
    overflow: hidden;

}

.melofi__timer_content_timeSide {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.melofi__timer_content_timeSide_circularProgressContainer {
    display:inline-flex;
    position: relative;
    align-self: center;
}

.melofi__timer_content_timeSide_inputsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

.melofi__timer_content_timeSide_inputsContainer input {
    width: 50px;
    font-family: var(--font-primary);
    font-size: 40px;
    border-radius: 10px;
    caret-color: white;

    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}

.melofi__timer_content_timeSide_inputsContainer p {
    color: white;
    font-family: var(--font-primary);
    font-size: 40px;

}

.melofi__timer_content_timeSide_currentModeContainer {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: 18px;
    display: flex;
}
.melofi__timer_content_timeSide_currentModeContainer p {
    border-radius: 5px;
    width: 65px;
    text-align: center;
}

.melofi__timer_content_timeSide_session {
    color: white;
    font-family: var(--font-primary);
    font-size: 25px;
}

.melofi__timer_content_taskSide {
   flex: 1;
   overflow-y: scroll;
   
   padding: 10px 10px 10px 30px;
   display: flex;
   flex-direction: column; 
   row-gap: 25px;
   position: relative;
}

.melofi__timer_addButton {
    position: absolute;
    bottom:3px;
    right: 3px;
}

.melofi__timer_addButton:hover {
    animation: scale-up-timer-addButton 0.2s forwards;

}

.melofi__timer_premium_banner:hover + .melofi__timer_content_taskSide   {
    opacity: 0.5;
    filter: blur(2px);
    transition: filter 300ms ease 0s;
}

.melofi__timer_premium_banner{
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    font-family: var(--font-primary);
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    z-index: 11;
    row-gap: 10px;
}

.melofi__premium_button {
    outline: 1px solid var(--color-secondary);
    border-radius: 10px;
    padding: 2px 5px;
    cursor: pointer;
    background-color: var(--color-secondary);
    display: flex;
    column-gap: 5px;
    opacity: 0%;
    font-size: 21px;
}

.melofi__timer_premium_banner p {
    opacity: 0%;
}

.melofi__premium_button:hover {
    background-color: var(--color-effect-opacity);
}

.melofi__timer_premium_banner:hover .melofi__premium_button, .melofi__timer_premium_banner:hover  p {
    opacity: 100%;
    transition: opacity 500ms ease 0s;
}

@keyframes scale-up-timer-addButton {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
    }
}